.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.auth-box {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .auth-header {
        text-align: center;
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    .btn {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;

        &:hover {
            background-color: #4cae4c;
        }
    }

    .toggle-link {
        text-align: center;
        margin-top: 10px;

        a {
            color: #5cb85c;
            cursor: pointer;
            text-decoration: none;
        }
    }
}